/* pi_green: RGB(28, 162, 153)  */
.wrapper{
    height: 100%;
    min-height: 100%;
}

.header_photo{
    height: 94% !important;
    width: 100%;
    opacity: 1;
}

.navbar{
    background-color: #333;
    height:5%;
}

.footer-fixed{
    height: 6%;
    width: 100%;
    margin-top: 0;
    text-align: center;
    background-color: black;
}

.footer-quote{
    font-family: 'helvetica neue';
    font-size: xx-small;
    position:absolute;
    bottom: 2%;
    right: 1%;
    opacity: 0.25;
    color: #cccccc;
}

.footer-sign{
    width: 16px;
}


.project_link{
    color: RGB(28, 162, 153);
}

.line{
    height: 26px;
    margin-top: 12px;
    width: 1px;
    background: #CCC;
}

.divundernev{
    margin-top: 48px;
}

.resume{
    width: 100%;
}

.index_body{
    overflow-y: hidden;
}

body {
    font-family: 'helvetica arial', 'Microsoft YaHei';
    margin: 0 auto;
}

html {
    display: block;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}