/* pi_green: RGB(28, 162, 153)  */
.wrapper{
    height: 100%;
    min-height: 100%;
}

.header_photo{
    height: 93%;
    width: 100%;
    opacity: 1;
}

.navbar{
    background-color: #333;
    height:5% !important;
}

.nav-opt{
    color: white;
    letter-spacing: 4px;
}

.nav-opt-eng{
    color: white;
    letter-spacing: 1px;
}

.footer-fixed{
    height: 3%;
    width: 100%;
    margin-top: 0;
    text-align: center;
    background-color: black;
    color: #cccccc;
    font-family: 'helvetica neue';
}

.footer-quote{
    padding-top: 3px;
    font-size: xx-small;
}

.footer-sign{
    width: 16px;
}


.project_link{
    color: RGB(28, 162, 153);
}

.line{
    height: 26px;
    margin-top: 12px;
    width: 1px;
    background: #CCC;
}

.divundernev{
    margin-top: 50px;
}

.resume{
    width: 100%;
}

.index_body{
    overflow-y: hidden;
}

body {
    font-family: 'helvetica arial', 'Microsoft YaHei';
    margin: 0 auto;
}

html {
    display: block;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}